<div id="new-articles-batch">
  <%= for article <- @articles do %>
    <div class="article-card">
      <.article_card article={article} />
    </div>
  <% end %>
</div>

<div id="new-load-more-container">
  <.load_more
    next_cursor={@next_cursor}
    url={~p"/categories/#{@category.id}/more"}
    target="articles-container"
  />
</div>
