<div id="new-articles-batch">
  <%= for article <- @articles do %>
    <.article_card article={article} />
  <% end %>
</div>

<div id="new-load-more-container" class="flex flex-col items-center mt-12 gap-3">
  <.load_more
    next_cursor={@next_cursor}
    url={~p"/articles/tags/#{@tag.slug}/more"}
    target="articles-grid"
  />
</div>
